@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slideInFromLeft {
  animation: slideInFromLeft 2s ease-out forwards;
}

.animate-slideInFromRight {
  animation: slideInFromRight 2s ease-out forwards;
}

.moveWithCursor {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.1s ease-out;
}

.moveWithCursor:hover {
  transform: scale(1.2); /* Scale the image by 20% */
}

.moveWithCursor {
  position: relative;
  cursor: pointer;
}

.moveWithCursor:hover {
  transform: scale(1.2) translate3d(var(--cursor-x), var(--cursor-y), 0);
  transition: transform 0.1s ease-out;
}
