@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}
.animate-marqueeForAbout {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slideInFromLeft {
  animation: slideInFromLeft 2s ease-out forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slideInFromRight {
  animation: slideInFromRight 2s ease-out forwards;
}

.moveWithCursor {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.1s ease-out;
}

.moveWithCursor:hover {
  transform: scale(1.2); /* Scale the image by 20% */
}

.moveWithCursor {
  position: relative;
  cursor: pointer;
}

.moveWithCursor:hover {
  transform: scale(1.2) translate3d(var(--cursor-x), var(--cursor-y), 0);
  transition: transform 0.1s ease-out;
}

/* Banner animation  */

.animated-bg {
  position: relative;
  background: url("/ctaMobileWaveLines(1).svg") no-repeat center center/cover,
    url("/WaveLinesDesktop1.svg") no-repeat center center/cover,
    url("/WaveLinesDesktop2.svg") no-repeat center center/cover,
    url("/WaveLinesDesktop3.svg") no-repeat center center/cover,
    linear-gradient(45deg, #0251be, #0251be, #0251be); /* Gradient as the last background layer */
  background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%,
    100% 100%, 200% 200%;
  animation: bgAnimation 8s infinite ease-in-out;
}

.gradient-background {
  background-image: linear-gradient(
      to bottom,
      rgb(27, 141, 254),
      rgba(73, 109, 255, 0) 80%
    ),
    url("https://cdn.sanity.io/images/6jywt20u/production/4c4adc11b7ca6ea25c7e7cba555d8f0b06488f3f-7952x5304.jpg?w=640&auto=format");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.clip-path-image {
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 0% 100%);
}

@keyframes slowBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-slow-bounce {
  animation: slowBounce 15s ease-in-out infinite;
}
